#map {
    width:auto;
    height:100%;
    background-color: rgba(83, 154, 221, 0.527);
}
html, body, #container{
    height: 100%;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

#controls {
    position: absolute;
    background: white;
    z-index: 1001;
    margin: 10px;
    padding: 10px;
    font-family: Arial;
    opacity: 0.9;
}